<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} on the PHOSIMP Wiki</title>

    <link rel="stylesheet" href="{{ '../_styles/style.css' | relative_url }}">

    <script>
        MathJax = {
            tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
</head>

<body>

    <main>
        {{ content }}
    </main>

</body>
</html>